/*
Author: Jonathan Pingle
Date Created: 20 March 2020
File Discription: stylesheet
File Type: css
Additional Credit: Mozilla Developer Tutorials
*/

html{
  font-family: 'Roboto', sans-serif;
}

body{
  font-size: 1em;
}

/* NAVIGATION BAR */

#nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: lightgrey;
  overflow: auto;
}

#nav li{
  display: block;
  text-align: center;
  float: left;
  padding: 0.625em;
}

#nav li:hover{
  background: grey;
}
