/*
Author: Jonathan Pingle
Date Created: 20 March 2020
File Discription: stylesheet
File Type: css
Additional Credit: Mozilla Developer Tutorials
*/

/* START 'GENERAL' */

*{box-sizing: border-box;}

html{font-family: 'Roboto Slab', serif;}

body{
  font-size: 1em;
  background: gainsboro;
}

h2{font-size: large;}
h6{font-size: medium;}
p{font-size: x-small;}
/* END 'GENERAL' */

/* START 'NAVIGATION BAR' */

.nav{
  font-size: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: silver;
  overflow: auto;
}

.nav a{
  display: block;
  text-align: center;
  padding: 0.625em 1em;
  border-right: 1px solid white;
  color: black;
  text-decoration: none;
}

.nav li{
  float: left;
  font-family: 'Roboto Slab', sans-serif;
}
.nav li:first-child{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}
.nav li:last-child{
  float:right;
  border-left: 1px solid white;
}

.nav li:last-of-type a{
  border-right:none;
}

.nav li:hover{
  background: grey;
}

.nav li:first-child:hover{
  background: silver;
}
/* END' NAVIGATION BAR' */

/* START 'LAYOUT' */
.left-col{
  float:left;
  width:80%;
  background-color: gainsboro;
}

.right-col{
  float:left;
  width:20%;
  padding-left: 1em;
  background-color: gainsboro;
}
/* START 'BOARD' */
.board{
  background:white;
  margin-top: 1em;
  padding: 1em 2em;
  line-height: 0.8em;
}
/* END 'BOARD' */

/* START 'SIDEBOARD' */
.sideboard{
  background:white;
  margin-top: 1em;
  padding: 1em 2em;
}
.sideboard h2{font-size: small;}
.sideboard h6{font-size: x-small;}
.sideboard p{font-size: xx-small;}

/* END 'SIDEBOARD' */
/*#######################*/

.content:after{
  content: "";
  display: table;
  clear: both;
}

.footer{
  text-align: center;
}

.footer p{
  font-size: 0.75em;
}

.footer p:last-child{
  margin-top: -0.75em;
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}
/* END 'LAYOUT' */

@media screen and (max-width: 800px) {
  .left-col, .right-col {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .nav a {
    float: none;
    width: 100%;
  }
}
